html{
  height:100%;
}
body{
  height:100%;
  position: relative;
}
#map{
  height:90%;
}
.map-container{
  height:90%;
  width:100%;
}
/*.legend, .data{
  background-color: grey;
  /*display:none;*/
  position:absolute;
}*/

.info{
  padding:6px 8px;
  font:14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4{
  margin:0 0 5px;
  color:#777;
}
.legend{
  text-align: left;
  line-height: 18px;
  color:#555;
}
.legend i{
  width:18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.layers{
  display: none;
  overflow:auto;
  background-color: #E7E7E7;
	width: 20em;
	height: 90%;
	position: fixed;
	top: 0;
	right: 0;
  z-index: 500;
  transform:translate (-50px) 30s;
}
.data{
  height:30%;

}
.close{
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}
